# API KEYS
ANTHROPIC_API_KEY="sk-ant-"
TAVILY_API_KEY="tvly-"
OPENAI_API_KEY="sk-"
LOGOSDB_CONNECTION_STRING="postgresql://anthropos:[PASSWORD]@localhost:5432/logosdb"
GOOGLE_KEY=""
BIBLE_API_KEY=""
OPENROUTER_API_KEY="sk-or-v1-"
SUPABASE_CONNECTION_STRING="postgresql://postgres:humanity@localhost:5432/supabase"


# MODEL SELECTION
CHAT_MODEL="gemini-2.0-flash"
REASONING_MODEL="claude-3.7-sonnet"
SECOND_OPINION_MODEL="gpt-4o"
SUMMARY_MODEL="gemini-2.0-flash"
EMBEDDING_MODEL="bge-m3"
