<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="/static/js/chat.js"></script>
</head>
<body class="bg-black">
    <div class="chat-body card">
        <div class="card-body p-5">
            <hr class="border-gray-500 mb-5" style="margin-top: 20px;">
            <div id="messages" class="overflow-auto" style="max-height: 500px;"></div>
            <form action=""
                  class="form-inline mt-5"
                  id="chat-form"
                  onsubmit="sendMessage(event)">
                <input type="text"
                       class="form-control"
                       placeholder="Write your question"
                       id="messageText">
                <button id="send" type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</body>
</html>