{% extends "base.html" %}

{% block title %}Verses{% endblock %}

{% block content %}
    <h1>Chapter {{ chapter }}</h1>
    <ul>
        {% for verse in verses %}
            <li class="verse-text">{{ verse.verse }}: {{ verse.text }}</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{{ url_for('verses', book_id=book_id, chapter=chapter-1) }}">Previous Chapter</a>
        <a href="{{ url_for('verses', book_id=book_id, chapter=chapter+1) }}">Next Chapter</a>
    </div>
{% endblock %}